Repository 2023-Coding-Test-Study/Coding-Test-Study, changes with the labels that .github/labeler.yml gives for each.
All labels: python, cpp, java, kotlin

[ADD] 1174번 문제 추가
  week30/haeun/1174_줄어드는 수.cpp
Labels: cpp

week 30
  week30/sunny/1174_줄어드는수.java
  week30/sunny/20164_홀수홀릭호석.java
  week30/sunny/2688_줄어들지않아.java
Labels: java

[ADD] 20164번 문제 추가
  week30/haeun/20164_홀수 홀릭 호석.cpp
Labels: cpp

[ADD] 2688_줄어들지 않아.cpp
  week30/uijeong/2688_줄어들지 않아.cpp
Labels: cpp

[ADD] 1174_줄어드는 수.cpp
  week30/uijeong/1174_줄어드는 수.cpp
Labels: cpp

[ADD] 20164_홀수 홀릭 호석.cpp
  week30/uijeong/20164_홀수 홀릭 호석.cpp
Labels: cpp

[ADD] ATM 문제 추가
  week31/11399_ATM.cpp
Labels: cpp

[add] 19598번 문제 추가
  week31/19598_최소 회의실 개수.cpp
Labels: cpp

[ADD] 11399_ATM.cpp
  week31/uijeong/11399_ATM.cpp
Labels: cpp

[ADD] 19598_최소 회의실 개수.cpp
  week31/uijeong/19598_최소 회의실 개수.cpp
Labels: cpp

[ADD] 1300_K번째 수.cpp
  week31/uijeong/1300_K번째 수.cpp
Labels: cpp

[add] k번째 수 문제 추가
  week31/1300_K번째수.cpp
Labels: cpp

[add] 거울 문제 추가
  week32/2344_거울.cpp
Labels: cpp

[add] 다익스트라 기본 문제
  week32/1753_최단경로.cpp
Labels: cpp

[add] 1504번 문제
  week32/1504_특정한 최단 경로.cpp
Labels: cpp

[ADD] 1753_최단경로.cpp
  week32/uijeong/1753_최단경로.cpp
Labels: cpp

[ADD] 1504_특정한 최단경로.cpp
  week32/uijeong/1504_특정한 최단경로.cpp
Labels: cpp

[ADD] 2344_거울.cpp
  week32/uijeong/2344_거울.cpp
Labels: cpp

[add] 비밀번호 문제 추가
  week33/13908_비밀번호.cpp
Labels: cpp

[add] 역사 문제 추가
  week33/1613_역사.cpp
Labels: cpp

[add] 태상이의 훈련소 생활
  week33/19951_태상이의 훈련소 생활.cpp
Labels: cpp

[ADD] 13908_비밀번호.cpp
  week33/uijeong/13908_비밀번호.cpp
Labels: cpp

[ADD] 1613_역사.cpp
  week33/uijeong/1613_역사.cpp
Labels: cpp

[ADD] 19951_태성이의 훈련소 생활.cpp
  week33/uijeong/19951_태성이의 훈련소 생활.cpp
Labels: cpp

week 34
  week34/sunny/LongestPalindromicSubstring.java
Labels: java

34 week
  week34/yubin/LeetCode_LongestPalindromicSubstring.java
Labels: java

[ADD] 5_Longest Palindromic Substring.cpp
  week34/uijeong/5_Longest Palindromic Substring.cpp
Labels: cpp

week 35
  week35/sunny/Edit_Distance.java
Labels: java

35 week
  week35/yubin/LeetCode_EditDistance.java
Labels: java

[ADD] 72.Edit Distance.cpp
  week35/uijeong/72.Edit Distance.cpp
Labels: cpp

week 36
  week36/sunny/2922_즐거운단어.java
Labels: java

[add] 36주차 문제
  week36/haeun/2922_즐거운 단어.cpp
Labels: cpp

week 36
  week37/sunny/15558_점프게임.java
Labels: java

[add] 점프 게임 문제
  week37/haeun/15558_점프 게임.cpp
Labels: cpp

[ADD] 2922_즐거운 단어.cpp
  week36/uijeong/2922_즐거운 단어.cpp
Labels: cpp

[ADD] 15558_점프 게임.cpp
  week37/uijeong/15558_점프 게임.cpp
Labels: cpp

[add] week38
  week38/haeun/중복되지 않는 가장 긴 부분 문자열의 길이.cpp
Labels: cpp

[add] 코틀린 코드 추가
  week38/haeun/중복되지 않는 가장 긴 부분 문자열의 길이.md
Labels: none

week38
  week38/sunny/LongestSubstringWithoutRepeatingCharacters.java
Labels: java

36, 37, 38 week
  week36/yubin/2922_즐거운단어.java
  week37/yubin/15558_점프게임.java
  week38/yubin/LeetCode_LongestSubstringAWithoutRepeatingCharacters.java
Labels: java

.github/labeler.yml:

python:
- '**/*.py'

cpp:
- '**/*.cpp'

java:
- '**/*.java'

kotlin:
- '**/*.kt'
