Repository 2023-Coding-Test-Study/Coding-Test-Study, pull requests merged in 2023-10, with the labels that each got.

#3 [Week 1] DataStructure - 선희
  01-DataStructure/sunny/1911_흙길보수하기.java
  01-DataStructure/sunny/1927_최소힙.java
  01-DataStructure/sunny/2075_N번째큰수.java
  01-DataStructure/sunny/2493_탑.java
  01-DataStructure/sunny/2800_괄호제거.java
  01-DataStructure/sunny/3986_좋은단어.java
Labels: java

#4 [Week 1] DataStructure - 윤재
  01-DataStructure/yoonjae/1927_최소 힙.cpp
  01-DataStructure/yoonjae/2075_N번째 큰 수.cpp
  01-DataStructure/yoonjae/2493_탑.cpp
  01-DataStructure/yoonjae/2800_괄호 제거.cpp
  01-DataStructure/yoonjae/3986_좋은 단어.cpp
Labels: cpp

#5 [Week 1] DataStructure - 의정
  01-DataStructure/uijeong/1927_최소 힙.cpp
  01-DataStructure/uijeong/2075_N번째 큰 수.cpp
  01-DataStructure/uijeong/2493_탑.cpp
  01-DataStructure/uijeong/2800_괄호제거.cpp
  01-DataStructure/uijeong/3986_좋은단어.cpp
Labels: cpp

#11 [Week 2] BruteForce - 의정
  02-BruteForce/uijeong/1025_제곱수 찾기.cpp
  02-BruteForce/uijeong/15686_치킨 배달.cpp
  02-BruteForce/uijeong/16937_두 스티커.cpp
  02-BruteForce/uijeong/22864_피로도.cpp
  02-BruteForce/uijeong/2798_블랙잭.cpp
  02-BruteForce/uijeong/test.java
Labels: cpp, java

#10 [Week 2] BruteForce - 하은
  02-BruteForce/haeun/1025_제곱수 찾기.cpp
  02-BruteForce/haeun/15686_치킨 배달.cpp
  02-BruteForce/haeun/16937_두 스티커.cpp
  02-BruteForce/haeun/22864_피로도.cpp
  02-BruteForce/haeun/2798_블랙잭.md
  02-BruteForce/haeun/example.cpp
Labels: cpp

#9 [Week 2] BruteForce - 선희
  02-BruteForce/sunny/1025_제곱수찾기.java
  02-BruteForce/sunny/14500_테트로미노.java
  02-BruteForce/sunny/15685_치킨배달.java
  02-BruteForce/sunny/16937_두스티커.java
  02-BruteForce/sunny/22864_피로도.java
  02-BruteForce/sunny/2798_블랙잭.java
Labels: java

#8 [Week 2] BruteForce - 윤재
  02-BruteForce/yoonjae/1025_제곱수 찾기.cpp
  02-BruteForce/yoonjae/15686_치킨 배달.cpp
  02-BruteForce/yoonjae/16937_두 스티커.cpp
  02-BruteForce/yoonjae/22864_피로도.cpp
  02-BruteForce/yoonjae/2798_블랙잭.cpp
Labels: cpp

#13 [Week 3] 재귀 & 백트래킹 - 선희
  03-BackTracking/sunny/1182_부분수열의합.java
  03-BackTracking/sunny/14888_연산자끼워넣기.java
  03-BackTracking/sunny/16987_계란으로계란치기.java
  03-BackTracking/sunny/2580_스도쿠.java
  03-BackTracking/sunny/9663_N_Queen.java
Labels: java

#14 [Week3] 재귀 & 백트래킹 - 하은
  03-BackTracking/haeun/1182_부분수열의 합.md
  03-BackTracking/haeun/14888_연산자 끼워넣기.cpp
  03-BackTracking/haeun/16987_계란으로 계란치기.cpp
  03-BackTracking/haeun/2580_스도쿠.cpp
  03-BackTracking/haeun/9663_N-Queen.cpp
  03-BackTracking/haeun/example.cpp
Labels: cpp

#18 [COMMENT] 스도쿠 문제 주석 추가
  03-BackTracking/haeun/2580_스도쿠.cpp
Labels: cpp

#16 [Week3] 재귀 & 백트래킹 - 의정
  03-BackTracking/UiJeong/1182_부분 수열의 합.cpp
  03-BackTracking/UiJeong/14888_연산자 끼워넣기.cpp
  03-BackTracking/UiJeong/16987_계란으로 계란치기.cpp
  03-BackTracking/UiJeong/2580_스도쿠.cpp
  03-BackTracking/UiJeong/9663_N-Queen.cpp
Labels: cpp

#15 [Week3] 재귀 & 백트래킹 - 윤재
  03-BackTracking/yoonjae/1182_부분수열의 합.cpp
  03-BackTracking/yoonjae/14888_연산자 끼워넣기.cpp
  03-BackTracking/yoonjae/16987_계란으로 계란치기.cpp
  03-BackTracking/yoonjae/2580_스도쿠.cpp
  03-BackTracking/yoonjae/9663_N-Queen.cpp
Labels: cpp

#21 [Week4] 분할정복 & 정렬 - 윤재
  04-Divide-Conquer-Sorting/yoonjae/1083_소트.cpp
  04-Divide-Conquer-Sorting/yoonjae/11728_배열 합치기.cpp
  04-Divide-Conquer-Sorting/yoonjae/18870_좌표 압축.cpp
  04-Divide-Conquer-Sorting/yoonjae/1992_쿼드 트리.cpp
  04-Divide-Conquer-Sorting/yoonjae/2447_별 찍기-10.cpp
Labels: cpp

#20 [Week4] 분할정복 & 정렬 - 선희
  04-Divide-Conquer-Sorting/sunny/1083_소트.java
  04-Divide-Conquer-Sorting/sunny/11728_배열합치기.java
  04-Divide-Conquer-Sorting/sunny/18870_좌표압축.java
  04-Divide-Conquer-Sorting/sunny/1992_쿼드트리.java
  04-Divide-Conquer-Sorting/sunny/2447_별찍기_10.java
Labels: java
