Repository 2023-Coding-Test-Study/Coding-Test-Study, pull requests merged in 2024-01, with the labels that each got.

#63 [12주차] 카카오 기출문제 - 하은
  12-CodingTest/haeun/example.cpp
  12-CodingTest/haeun/개인정보 수집 유효기간.kt
  12-CodingTest/haeun/두 큐 합 같게 만들기.md
  12-CodingTest/haeun/등산코스 정하기.cpp
  12-CodingTest/haeun/미로 탈출 명령어.cpp
  12-CodingTest/haeun/이모티콘 할인 행사.cpp
Labels: cpp, kotlin

#61 [12주차] 카카오 기출 문제 - 선희
  12-CodingTest/sunny/개인정보수집유효기간.java
  12-CodingTest/sunny/두큐합같게만들기.java
  12-CodingTest/sunny/등산코스정하기.java
  12-CodingTest/sunny/미로탈출명령어.java
  12-CodingTest/sunny/이모티콘할인행사.java
Labels: java

#64 [12주차] 카카오 기출문제 - 의정
  12-CodingTest/uijeong/개인정보 수집 유효기간.cpp
  12-CodingTest/uijeong/두 큐 합 같게 만들기.cpp
  12-CodingTest/uijeong/등산코스 정하기.cpp
  12-CodingTest/uijeong/미로탈출 명령어.cpp
  12-CodingTest/uijeong/이모티콘 할인행사.cpp
Labels: cpp

#62 [12주차] 카카오 기출 문제 - 윤재
  12-CodingTest/yoonjae/개인정보 수집 유효기간.cpp
  12-CodingTest/yoonjae/두 큐 합 같게 만들기.cpp
  12-CodingTest/yoonjae/등산코스 정하기.cpp
  12-CodingTest/yoonjae/미로 탈출 명령어.cpp
  12-CodingTest/yoonjae/이모티콘 할인행사.cpp
Labels: cpp

#66 [13주차] DP, 이분탐색 - 하은
  week13/haeun/11051_이항계수2.cpp
  week13/haeun/2470_두 용액.cpp
  week13/haeun/5557_1학년.cpp
  week13/haeun/9252_LCS2.cpp
  week13/haeun/징검다리 건너기.cpp
Labels: cpp

#67 [13주차] DP, 이분탐색 - 선희
  week13/sunny/11051_이항계수2.java
  week13/sunny/2470_두용액.java
  week13/sunny/5557_1학년.java
  week13/sunny/9252_LCS2.java
  week13/sunny/징검다리건너기.java
Labels: java

#68 [13주차] DP, 이분탐색 - 의정
  week13/uijeong/11051_이항계수.cpp
  week13/uijeong/2470_두 용액.cpp
  week13/uijeong/5557_1학년.cpp
  week13/uijeong/9252_LCS2.cpp
  week13/uijeong/Lv3_징검다리 건너기.cpp
Labels: cpp

#70 [14주차] BFS/DFS, 시뮬레이션 - 선희
  week14/sunny/16234_인구이동.java
  week14/sunny/17144_미세먼지안녕.java
  week14/sunny/아이템줍기.java
  week14/sunny/여행경로.java
  week14/sunny/퍼즐조각채우기.java
Labels: java

#71 [14주차] 그래프 탐색, 시뮬레이션 - 하은
  week14/haeun/16234_인구이동.cpp
  week14/haeun/아이템 줍기.cpp
  week14/haeun/여행경로.cpp
Labels: cpp

#72 [14주차] 그래프 탐색, 시뮬레이션 - 의정
  week14/uijeong/16234_인구 이동.cpp
  week14/uijeong/17144_미세먼지 안녕!.cpp
  week14/uijeong/Lv3. 아이템 줍기.cpp
  week14/uijeong/Lv3. 여행경로.cpp
  week14/uijeong/Lv3. 퍼즐 조각 채우기.cpp
Labels: cpp

#76 [15주차] 구현, 그리디 - 하은
  week15/haeun/16926_배열 돌리기1.cpp
  week15/haeun/1715_카드 정렬하기.cpp
  week15/haeun/2590_색종이.cpp
  week15/haeun/가장 많이 받은 선물.cpp
  week15/haeun/구명보트.cpp
Labels: cpp
