Repository 2023-Coding-Test-Study/Coding-Test-Study, pull requests merged in 2024-08, with the labels that each got.

#160 35주차 문제풀이
  week35/sunny/Edit_Distance.java
Labels: java

#165 [36주차] 문제 풀이
  week36/sunny/2922_즐거운단어.java
Labels: java

#166 36, 37주차 문제 풀이
  week36/haeun/2922_즐거운 단어.cpp
  week37/haeun/15558_점프 게임.cpp
Labels: cpp

#169 [36주차 & 37주차] 랜덤 문제
  week36/uijeong/2922_즐거운 단어.cpp
  week37/uijeong/15558_점프 게임.cpp
Labels: cpp

#172 [38주차] 문제제출
  week38/sunny/LongestSubstringWithoutRepeatingCharacters.java
Labels: java

#171 38주차 문제 제출
  week38/haeun/중복되지 않는 가장 긴 부분 문자열의 길이.md
Labels: cpp, kotlin
